@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-DemiBold.woff') format('woff'),
       url('../fonts/Oswald-DemiBold.woff2') format('woff2'),
       url('../fonts/Oswald-DemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Bold.woff') format('woff'),
       url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Regular.woff') format('woff'),
       url('../fonts/Nunito-Regular.woff2') format('woff2'),
       url('../fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  font-family: Oswald;
}

button {
  font-family: Oswald;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  background-color: #2c2c2c;
  height: 102px;
}

.header_flex {
  display: flex;
  padding-left: 81px;
  padding-right: 58px;
  padding-top: 19px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.header_nav a {
  font-family: Oswald;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 46px;
}

.header_nav {
  padding-top: 19px;
}

.header_search {
  padding-top: 19px;
}

.main {
  background-image: url('../img/main.jpg');
  height: 693px;
  background-repeat: no-repeat;
  background-color: #ff6309;
  background-position: center;
}

.main_header {
  font-size: 125px;
  color: white;
  padding-top: 268px;
  padding-left: 81px;
}

.main_subtxt {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  padding-left: 81px;
  width: 612px;
}

.main_button {
  font-size: 30px;
  padding: 20px 80px;
  background-color: #ff6309;
  margin-left: 81px;
  border-color: #ff6309;
}

.section {
  height: 963px;
  background-position-x: -500px;
  background-position-y: -250px;
  background-repeat: no-repeat;
}

.section_header {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 106px;
}

.section_subtxt {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  padding-left: 365px;
  width: 835px;
  text-indent: -39px;
}

.section_cards {
  display: flex;
  padding-left: 98px;
  justify-content: space-between;
  padding-right: 99px;
}

.section_card {
  height: 493px;
  width: 372px;
  border-radius: 5px;
}

.section_card div {
  font-family: Oswald;
  font-size: 37px;
  color: white;
  text-align: center;
  padding-top: 38px;
}

.section_card p {
  font-family: Montserrat;
  font-size: 22px;
  color: white;
  text-align: center;
  margin: 0;
}

.dance_tour {
  background-color: #ff6309;
  background-image: url('../img/dots.png')
}

.dance_card {
  background-color: #2c2c2c;
}

.dance_card img {
  height: 324px;
}

.pricing {
  background-color: #2c2c2c;
  background-image: url('../img/dots_test.png');
}

.pricing_card {
  background-color: #ff6309;
  text-align: center;
}

.pricing_card div {
  font-weight: 700;
  margin-bottom: 31px;
}

.pricing_card img {
  padding-top: 64px;
}

.pricing_button {
    font-size: 25px;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    padding: 20px 119px;
    margin-top: 35px;
}
