@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-DemiBold.woff') format('woff'),
       url('../fonts/Oswald-DemiBold.woff2') format('woff2'),
       url('../fonts/Oswald-DemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Bold.woff') format('woff'),
       url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Regular.woff') format('woff'),
       url('../fonts/Nunito-Regular.woff2') format('woff2'),
       url('../fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  font-family: Oswald;
}

button {
  font-family: Oswald;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  background-color: #2c2c2c;
  height: 102px;
}

.header_flex {
  display: flex;
  padding-left: 81px;
  padding-right: 58px;
  padding-top: 19px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.header_nav a {
  font-family: Oswald;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 46px;
}

.header_nav {
  padding-top: 19px;
}

.header_search {
  padding-top: 19px;
}

.main {
  background-image: url('../img/dancer_main.jpg');
  height: 693px;
  background-repeat: no-repeat;
  background-color: #ff6309;
  background-size: 100%;
}

.main_header {
  font-size: 125px;
  color: white;
  padding-top: 268px;
  padding-left: 81px;
}

.main_subtxt {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  padding-left: 81px;
  width: 612px;
}

.main_button {
  font-size: 30px;
  padding: 20px 80px;
  background-color: #ff6309;
  margin-left: 81px;
  border-color: #ff6309;
}

.section {
  height: 963px;
  background-position-x: -500px;
  background-position-y: -250px;
  background-repeat: no-repeat;
}

.section_header {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 106px;
}

.section_subtxt {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  margin-left: 25%;
  max-width: 835px;
  text-indent: -39px;
}

.section_cards {
  display: flex;
  padding-left: 98px;
  justify-content: space-between;
  padding-right: 99px;
}

.section_card {
  height: 493px;
  width: 372px;
  border-radius: 5px;
}

.section_card div {
  font-family: Oswald;
  font-size: 37px;
  color: white;
  text-align: center;
  padding-top: 38px;
}

.section_card p {
  font-family: Montserrat;
  font-size: 22px;
  color: white;
  text-align: center;
  margin: 0;
}

.dance_tour {
  background-color: #ff6309;
  background-image: url('../img/dots_dance.png')
}

.dance_card {
  background-color: #2c2c2c;
}

.dance_card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pricing {
  background-color: #2c2c2c;
  background-image: url('../img/dots_pricing.png');
}

.pricing_card {
  background-color: #ff6309;
  text-align: center;
}

.pricing_card div {
  font-weight: 700;
  margin-bottom: 31px;
}

.pricing_card img {
  padding-top: 64px;
}

.pricing_button {
    font-size: 25px;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    padding: 20px 119px;
    margin-top: 35px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex img {
  width: 50%;
  height: 963px;
}

.flex_item {
  margin: auto;
}

.flex_item p {
  max-width: 612px;
  text-indent: 0;
  margin-left: 0;
}

.flex_item div {
  padding-left: 0;
  text-align: left;
}

.flex_item button {
  font-size: 25px;
  background-color: #2c2c2c;
  border-color: #2c2c2c;
  padding: 20px 119px;
  margin-top: 35px;
}

.amazing {
  background-color: #ff6309;
  background-image: url('../img/dots_amazing.png');
  background-position-x: 800px;
  background-position-y: 400px;
}

.best {
  background-color: #ff6309;
  background-image: url('../img/dots_best.png');
  background-position-x: -200px;
  background-position-y: 400px;
}

.stats {
  background-color: #2c2c2c;
}

.stats .section_header {
  padding-top: 207px;
}

.stats .section_subtxt {
  margin-bottom: 195px;
}

.stats_number {
  font-family: Oswald;
  font-size: 67px;
  color: white;
  text-align: center;
}

.stats_word {
  font-family: Montserrat;
  font-size: 42px;
  color: white;
  text-align: center;
}

.herbert {
  background-image: url('../img/dancer_herbert.jpg');
  background-size: 100%;
  background-position-x: 0;
  background-position-y: 0;
}

@media (max-width: 1440px) {
  .herbert {
    background-size: auto;
  }
}

.herbert .section_subtxt {
  font-family: Nunito;
  font-size: 50px;
  margin-top: 0;
  padding-top: 330px;
  max-width: 912px;
  margin-left: 20%;
  text-align: center;
}

.herbert .section_header {
  font-size: 58px;
  padding-top: 0;
}

.subscribe {
  height: 591px;
  background-image: url('../img/dots_subscribe.png');
  background-color: #ff6309;
}

.subscribe .section_header {
  padding-top: 132px;
}

.flex_subscribe {
  justify-content: flex-start;
}

.flex_subscribe input {
  font-family: Montserrat;
  font-size: 25px;
  margin-left: 25%;
  padding: 22px 29px;
  border: 0;
  width: 33%;
}

.flex_subscribe button {
  font-family: Oswald;
  font-size: 25px;
  font-weight: 600;
  background-color: #2c2c2c;
  border-color: #2c2c2c;
  text-align: center;
  width: 222px;
}
