@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-DemiBold.woff') format('woff'),
       url('../fonts/Oswald-DemiBold.woff2') format('woff2'),
       url('../fonts/Oswald-DemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/Oswald-Bold.woff') format('woff'),
       url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Nunito";
  src: url('../fonts/Nunito-Regular.woff') format('woff'),
       url('../fonts/Nunito-Regular.woff2') format('woff2'),
       url('../fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  font-family: Oswald;
}

nav a {
  font-family: Oswald;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 46px;
}

nav {
  padding-top: 19px;
}

.header {
  background-color: #2c2c2c;
  height: 102px;
}

.flex {
  display: flex;
  padding-left: 81px;
  padding-right: 58px;
  padding-top: 19px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.search {
  padding-top: 19px;
}

main {
  background-image: url('../img/main.jpg');
  height: 693px;
  background-repeat: no-repeat;
  background-color: #ff6309;
  background-position: center;
}

main div {
  font-size: 125px;
  color: white;
  padding-top: 268px;
  padding-left: 81px;
}

main p {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  padding-left: 81px;
  width: 612px;
}

main button {
  font-family: Oswald;
  font-size: 30px;
  color: white;
  background-color: #ff6309;
  margin-left: 81px;
  border-color: #ff6309;
  border-radius: 5px;
  padding: 20px 80px;
  cursor: pointer;
}
